[Unit]
Description=PiPet
After=graphical-session.target

[Service]
Type=simple
User=c043
WorkingDirectory=/home/c043/Github/PiPet
ExecStart=/home/c043/Github/PiPet/.venv/bin/python -m src.app
Restart=on-failure
RestartSec=3
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/c043/.Xauthority

[Install]
WantedBy=default.target
